n8n/workflows/SvontAI_RealEstate_WhatsApp_v1.json
{
  "name": "SvontAI - RealEstate WhatsApp v1 (Qualify + Match)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "svontai-re-wa",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "svontai-re-wa"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json;\n\nlet body = req.body;\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); } catch { body = { raw: req.body }; }\n}\n\nconst headers = req.headers || {};\n\nreturn [{ json: { ...body, headers, originalBody: body } }];"
      },
      "id": "normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction getHeader(headers, name) {\n  if (!headers) return undefined;\n  const lower = name.toLowerCase();\n  const direct = headers[name];\n  if (direct !== undefined) return direct;\n  for (const k of Object.keys(headers)) {\n    if (String(k).toLowerCase() === lower) return headers[k];\n  }\n  return undefined;\n}\n\nfunction stable(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (Array.isArray(obj)) return obj.map(stable);\n  if (typeof obj !== 'object') return obj;\n  const out = {};\n  for (const k of Object.keys(obj).sort()) out[k] = stable(obj[k]);\n  return out;\n}\n\nconst input = $input.first().json;\nconst headers = input.headers || {};\n\nconst tsRaw = getHeader(headers, 'X-SvontAI-Timestamp');\nconst sig = getHeader(headers, 'X-SvontAI-Signature');\n\nconst secret = process.env.SVONTAI_TO_N8N_SECRET || '';\n\nlet authOk = false;\nlet error = '';\n\nif (!secret) {\n  error = 'Missing SVONTAI_TO_N8N_SECRET in n8n env';\n} else if (!tsRaw || !sig) {\n  error = 'Missing signature headers';\n} else {\n  const ts = parseInt(String(tsRaw), 10);\n  if (!Number.isFinite(ts)) {\n    error = 'Invalid timestamp';\n  } else {\n    const now = Math.floor(Date.now() / 1000);\n    if (Math.abs(now - ts) > 300) {\n      error = 'Signature expired';\n    } else {\n      const payload = JSON.stringify(stable(input.originalBody || {}));\n      const message = `${ts}.${payload}`;\n      const expected = crypto.createHmac('sha256', secret).update(message, 'utf8').digest('hex');\n      const sigBuf = Buffer.from(String(sig));\n      const expBuf = Buffer.from(expected);\n      if (sigBuf.length !== expBuf.length) {\n        authOk = false;\n        error = 'Invalid signature';\n      } else {\n        authOk = crypto.timingSafeEqual(sigBuf, expBuf);\n        if (!authOk) error = 'Invalid signature';\n      }\n    }\n  }\n}\n\nreturn [{ json: { ...input, authOk, authError: error } }];"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.authOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isEqual"
              }
            }
          ]
        }
      },
      "id": "auth-ok",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input=$input.first().json; return [{json:{ok:false,error:input.authError||'auth_failed'}}];"
      },
      "id": "auth-fail",
      "name": "Auth Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "incoming_message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-wa-incoming",
      "name": "Is WA Incoming?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const text=String($json.text||'').toLowerCase(); const optOut=/(^|\\s)(durdur|stop|iptal|unsubscribe)(\\s|$)/.test(text); return [{json:{...$json,optOut}}];"
      },
      "id": "detect-opt-out",
      "name": "Detect Opt-out",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.leads_upsert }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"phone\":$json.from,\"source\":\"whatsapp\",\"status\":\"new\"}"
      },
      "id": "lead-upsert",
      "name": "Lead Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.leads_get }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $node[\"Detect Opt-out\"].json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$node[\"Detect Opt-out\"].json.tenantId,\"phone\":$node[\"Detect Opt-out\"].json.from}"
      },
      "id": "lead-get",
      "name": "Lead Get",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1620,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $env.OPENAI_API_KEY, \"Content-Type\":\"application/json\"} }}",
        "bodyParametersJson": "={\"model\":($env.OPENAI_MODEL || \"gpt-4o-mini\"),\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"Extract real-estate lead info from Turkish messages. Output STRICT JSON only. Keys: intent (buyer|seller|unknown), sale_rent (sale|rent|null), property_type (string|null), location_text (string|null), budget_max (number|null), rooms (string|null), m2_min (number|null), timeline_text (string|null), price_expectation (number|null), urgency (string|null), opt_out (boolean|null).\"},{\"role\":\"user\",\"content\":($node[\"Detect Opt-out\"].json.text || \"\") }]}"
      },
      "id": "openai-extract",
      "name": "OpenAI Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1840,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const leadGet = $node['Lead Get'].json;\nconst lead = leadGet || {};\nconst extra = (lead.extraData || lead.extra_data || {}) || {};\nconst re = (extra.real_estate || extra.re || {}) || {};\nconst prevCriteria = (re.criteria || {}) || {};\n\nconst optOut = Boolean($node['Detect Opt-out'].json.optOut);\nif (optOut) {\n  return [{ json: { ...$node['Detect Opt-out'].json, action: 'optout', replyText: 'Tamamd\u0131r. Art\u0131k size mesaj g\u00f6ndermeyece\u011fim. Yeniden ba\u015flatmak isterseniz yazman\u0131z yeterli.' } }];\n}\n\nlet extractedText = '';\ntry { extractedText = ($node['OpenAI Extract'].json.body?.choices?.[0]?.message?.content) || ($node['OpenAI Extract'].json.choices?.[0]?.message?.content) || ''; } catch {}\nextractedText = String(extractedText||'').trim();\nlet extracted = {};\ntry { extracted = JSON.parse(extractedText); } catch { extracted = {}; }\n\nconst intent = (re.intent || extracted.intent || 'unknown');\n\nconst criteria = { ...prevCriteria };\nfor (const k of ['sale_rent','property_type','location_text','budget_max','rooms','m2_min','timeline_text','price_expectation','urgency']) {\n  if (extracted[k] !== undefined && extracted[k] !== null && String(extracted[k]).trim() !== '') criteria[k] = extracted[k];\n}\n\nlet required = [];\nif (intent === 'seller') {\n  required = ['location_text','property_type','m2_min','rooms','price_expectation'];\n} else {\n  required = ['sale_rent','property_type','location_text','budget_max'];\n}\n\nconst missing = required.filter((k) => criteria[k] === undefined || criteria[k] === null || String(criteria[k]).trim() === '');\n\nlet replyText = '';\nlet action = 'ask';\nif (missing.length === 0) {\n  action = 'suggest';\n  replyText = 'Harika, kriterlerinizi ald\u0131m. Size uygun en iyi 3 ilan\u0131 haz\u0131rl\u0131yorum.';\n} else {\n  const next = missing[0];\n  const qs = {\n    sale_rent: 'Sat\u0131l\u0131k m\u0131 kiral\u0131k m\u0131 bak\u0131yorsunuz?',\n    property_type: 'Hangi m\u00fclk tipi ar\u0131yorsunuz? (Daire/Villa/Arsa)',\n    location_text: 'Hangi b\u00f6lge/il\u00e7e/mahalle d\u00fc\u015f\u00fcn\u00fcyorsunuz?',\n    budget_max: 'Maksimum b\u00fct\u00e7eniz nedir?',\n    rooms: 'Ka\u00e7 oda tercih ediyorsunuz? (\u00f6rn: 2+1)',\n    m2_min: 'Yakla\u015f\u0131k minimum m\u00b2 beklentiniz var m\u0131?',\n    price_expectation: 'M\u00fclk\u00fcn\u00fcz i\u00e7in fiyat beklentiniz nedir?',\n  };\n  replyText = qs[next] || 'Biraz daha detay payla\u015f\u0131r m\u0131s\u0131n\u0131z?';\n}\n\nconst nextRe = {\n  intent: intent === 'unknown' ? (extracted.intent || 'buyer') : intent,\n  criteria,\n  updated_at: new Date().toISOString(),\n};\n\nreturn [{ json: { ...$node['Detect Opt-out'].json, action, replyText, intent: nextRe.intent, criteria, rePatch: { real_estate: nextRe } } }];"
      },
      "id": "decide-next",
      "name": "Decide Next",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.leads_patch }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"phone\":$json.from,\"extraDataMerge\":$json.rePatch}"
      },
      "id": "lead-patch",
      "name": "Lead Patch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2280,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "suggest",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-suggest",
      "name": "Is Suggest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2500,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Detect Opt-out\"].json.svontai.endpoints.re_listings_search }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $node[\"Detect Opt-out\"].json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$node[\"Detect Opt-out\"].json.tenantId,\"saleRent\":($node[\"Decide Next\"].json.criteria.sale_rent || null),\"propertyType\":($node[\"Decide Next\"].json.criteria.property_type || null),\"locationText\":($node[\"Decide Next\"].json.criteria.location_text || null),\"budgetMax\":($node[\"Decide Next\"].json.criteria.budget_max || null),\"rooms\":($node[\"Decide Next\"].json.criteria.rooms || null),\"m2Min\":($node[\"Decide Next\"].json.criteria.m2_min || null),\"limit\":3}"
      },
      "id": "search-listings",
      "name": "Search Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2720,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $node['Search Listings'].json.items || [];\nif (!items.length) {\n  return [{json:{...$node['Decide Next'].json, replyText:'Kriterlerinize uygun ilan bulamad\u0131m. \u0130sterseniz lokasyon/b\u00fct\u00e7e aral\u0131\u011f\u0131n\u0131 biraz geni\u015fletelim. Hangi esnekli\u011fi istersiniz?'}}];\n}\nconst lines = items.map((x,i)=>{\n  const price = x.price ? (x.price.toLocaleString('tr-TR') + ' ' + (x.currency||'TRY')) : '';\n  const url = x.url ? `\\n${x.url}` : '';\n  return `${i+1}) ${x.title} \u2014 ${x.locationText} \u2014 ${price}${url}`;\n});\nconst text = `Kriterlerinize g\u00f6re \u00f6ne \u00e7\u0131kan 3 ilan:\\n\\n${lines.join('\\n\\n')}\\n\\nUygunsa 1-2 se\u00e7ene\u011fi se\u00e7in; randevu planlayal\u0131m.`;\nreturn [{json:{...$node['Decide Next'].json, replyText:text}}];"
      },
      "id": "format-listings",
      "name": "Format Listings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.whatsapp_send }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"to\":$json.from,\"text\":$json.replyText,\"meta\":{\"runId\":$json.runId}}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3160,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.whatsapp_send }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"to\":$json.from,\"text\":$json.replyText,\"meta\":{\"runId\":$json.runId}}"
      },
      "id": "send-question",
      "name": "Send Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2720,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"ok\":true,\"runId\":$json.runId} }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3380,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          {
            "node": "Is WA Incoming?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Fail": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is WA Incoming?": {
      "main": [
        [
          {
            "node": "Detect Opt-out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Opt-out": {
      "main": [
        [
          {
            "node": "Lead Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Upsert": {
      "main": [
        [
          {
            "node": "Lead Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Get": {
      "main": [
        [
          {
            "node": "OpenAI Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extract": {
      "main": [
        [
          {
            "node": "Decide Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Next": {
      "main": [
        [
          {
            "node": "Lead Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Patch": {
      "main": [
        [
          {
            "node": "Is Suggest?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Suggest?": {
      "main": [
        [
          {
            "node": "Search Listings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Listings": {
      "main": [
        [
          {
            "node": "Format Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Listings": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Question": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "versionId": "re-wa-v1",
  "settings": {
    "executionOrder": "v1"
  }
}