n8n/workflows/SvontAI_RealEstate_Voice_v1.json
{
  "name": "SvontAI - RealEstate Voice v1 (Qualify + Match + Summary)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "svontai-re-voice",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "svontai-re-voice"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json;\n\nlet body = req.body;\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); } catch { body = { raw: req.body }; }\n}\n\nconst headers = req.headers || {};\n\nreturn [{ json: { ...body, headers, originalBody: body } }];"
      },
      "id": "normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction getHeader(headers, name) {\n  if (!headers) return undefined;\n  const lower = name.toLowerCase();\n  const direct = headers[name];\n  if (direct !== undefined) return direct;\n  for (const k of Object.keys(headers)) {\n    if (String(k).toLowerCase() === lower) return headers[k];\n  }\n  return undefined;\n}\n\nfunction stable(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (Array.isArray(obj)) return obj.map(stable);\n  if (typeof obj !== 'object') return obj;\n  const out = {};\n  for (const k of Object.keys(obj).sort()) out[k] = stable(obj[k]);\n  return out;\n}\n\nconst input = $input.first().json;\nconst headers = input.headers || {};\n\nconst tsRaw = getHeader(headers, 'X-SvontAI-Timestamp');\nconst sig = getHeader(headers, 'X-SvontAI-Signature');\n\nconst secret = process.env.SVONTAI_TO_N8N_SECRET || '';\n\nlet authOk = false;\nlet error = '';\n\nif (!secret) {\n  error = 'Missing SVONTAI_TO_N8N_SECRET in n8n env';\n} else if (!tsRaw || !sig) {\n  error = 'Missing signature headers';\n} else {\n  const ts = parseInt(String(tsRaw), 10);\n  if (!Number.isFinite(ts)) {\n    error = 'Invalid timestamp';\n  } else {\n    const now = Math.floor(Date.now() / 1000);\n    if (Math.abs(now - ts) > 300) {\n      error = 'Signature expired';\n    } else {\n      const payload = JSON.stringify(stable(input.originalBody || {}));\n      const message = `${ts}.${payload}`;\n      const expected = crypto.createHmac('sha256', secret).update(message, 'utf8').digest('hex');\n      const sigBuf = Buffer.from(String(sig));\n      const expBuf = Buffer.from(expected);\n      if (sigBuf.length !== expBuf.length) {\n        authOk = false;\n        error = 'Invalid signature';\n      } else {\n        authOk = crypto.timingSafeEqual(sigBuf, expBuf);\n        if (!authOk) error = 'Invalid signature';\n      }\n    }\n  }\n}\n\nreturn [{ json: { ...input, authOk, authError: error } }];"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.authOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isEqual"
              }
            }
          ]
        }
      },
      "id": "auth-ok",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input=$input.first().json; return [{json:{ok:false,error:input.authError||'auth_failed', responseText:'', endCall:true}}];"
      },
      "id": "auth-fail",
      "name": "Auth Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.channel }}",
              "rightValue": "call",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "voice_call_intent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-call-intent",
      "name": "Is Call Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.leads_upsert }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"phone\":$json.from,\"source\":\"call\",\"status\":\"new\",\"callProvider\":($json.metadata.call && $json.metadata.call.provider) || \"unknown\",\"callProviderCallId\":($json.metadata.call && ($json.metadata.call.provider_call_id || $json.metadata.call.providerCallId)) || \"\"}"
      },
      "id": "lead-upsert",
      "name": "Lead Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1180,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.leads_get }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $node[\"Normalize\"].json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$node[\"Normalize\"].json.tenantId,\"phone\":$node[\"Normalize\"].json.from}"
      },
      "id": "lead-get",
      "name": "Lead Get",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $env.OPENAI_API_KEY, \"Content-Type\":\"application/json\"} }}",
        "bodyParametersJson": "={\"model\":($env.OPENAI_MODEL || \"gpt-4o-mini\"),\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"Extract real-estate lead info from Turkish call transcript. Output STRICT JSON only. Keys: intent (buyer|seller|unknown), sale_rent (sale|rent|null), property_type (string|null), location_text (string|null), budget_max (number|null), rooms (string|null), m2_min (number|null), timeline_text (string|null), price_expectation (number|null).\"},{\"role\":\"user\",\"content\":\"User said: \" + ($json.text || \"\") }]}"
      },
      "id": "openai-extract",
      "name": "OpenAI Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1620,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const leadGet = $node['Lead Get'].json;\nconst extra = (leadGet.extraData || leadGet.extra_data || {}) || {};\nconst re = (extra.real_estate || extra.re || {}) || {};\nconst prevCriteria = (re.criteria || {}) || {};\n\nlet extractedText = '';\ntry { extractedText = ($node['OpenAI Extract'].json.body?.choices?.[0]?.message?.content) || ($node['OpenAI Extract'].json.choices?.[0]?.message?.content) || ''; } catch {}\nextractedText = String(extractedText||'').trim();\nlet extracted = {};\ntry { extracted = JSON.parse(extractedText); } catch { extracted = {}; }\n\nconst intent = (re.intent || extracted.intent || 'buyer');\nconst criteria = { ...prevCriteria };\nfor (const k of ['sale_rent','property_type','location_text','budget_max','rooms','m2_min','timeline_text','price_expectation']) {\n  if (extracted[k] !== undefined && extracted[k] !== null && String(extracted[k]).trim() !== '') criteria[k] = extracted[k];\n}\n\nlet required = [];\nif (intent === 'seller') {\n  required = ['location_text','property_type','m2_min','rooms','price_expectation'];\n} else {\n  required = ['sale_rent','property_type','location_text','budget_max'];\n}\nconst missing = required.filter((k) => criteria[k] === undefined || criteria[k] === null || String(criteria[k]).trim() === '');\n\nlet replyText='';\nlet action='ask';\nif (missing.length === 0) {\n  action='suggest';\n  replyText='Harika. Kriterlerinize g\u00f6re 3 ilan \u00f6nerece\u011fim. \u0130sterseniz WhatsApp \u00fczerinden linkleri de payla\u015fabilirim.';\n} else {\n  const next=missing[0];\n  const qs={\n    sale_rent:'Sat\u0131l\u0131k m\u0131 kiral\u0131k m\u0131 d\u00fc\u015f\u00fcn\u00fcyorsunuz?',\n    property_type:'Daire mi villa m\u0131 arsa m\u0131 d\u00fc\u015f\u00fcn\u00fcyorsunuz?',\n    location_text:'Hangi b\u00f6lge/il\u00e7e d\u00fc\u015f\u00fcn\u00fcyorsunuz?',\n    budget_max:'Maksimum b\u00fct\u00e7eniz nedir?',\n    rooms:'Ka\u00e7 oda tercih ediyorsunuz? (\u00f6rn 2+1)',\n    m2_min:'Yakla\u015f\u0131k ka\u00e7 m\u00b2?',\n    price_expectation:'Fiyat beklentiniz nedir?',\n  };\n  replyText = qs[next] || 'Biraz daha detay payla\u015f\u0131r m\u0131s\u0131n\u0131z?';\n}\n\nconst nextRe={ intent, criteria, updated_at: new Date().toISOString() };\nreturn [{json:{...$node['Normalize'].json, ok:true, action, responseText:replyText, endCall:false, rePatch:{real_estate: nextRe}, criteria }}];"
      },
      "id": "decide-next",
      "name": "Decide Next",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.leads_patch }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"phone\":$json.from,\"extraDataMerge\":$json.rePatch}"
      },
      "id": "lead-patch",
      "name": "Lead Patch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2060,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "suggest",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-suggest",
      "name": "Is Suggest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2280,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.re_listings_search }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"saleRent\":($json.criteria.sale_rent || null),\"propertyType\":($json.criteria.property_type || null),\"locationText\":($json.criteria.location_text || null),\"budgetMax\":($json.criteria.budget_max || null),\"rooms\":($json.criteria.rooms || null),\"m2Min\":($json.criteria.m2_min || null),\"limit\":3}"
      },
      "id": "search-listings",
      "name": "Search Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2500,
        -220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items=$node['Search Listings'].json.items||[];\nif(!items.length){\n  return [{json:{...$node['Decide Next'].json, responseText:'Kriterlerinize tam uyan ilan bulamad\u0131m. Lokasyon veya b\u00fct\u00e7e aral\u0131\u011f\u0131nda esneklik var m\u0131?', endCall:false}}];\n}\nconst first=items[0];\nconst text=`Size 3 se\u00e7enek \u00f6nerebilirim. \u00d6ne \u00e7\u0131kan 1. se\u00e7enek: ${first.title} (${first.locationText}). Di\u011fer 2 se\u00e7ene\u011fi WhatsApp \u00fczerinden g\u00f6ndereyim mi?`;\nreturn [{json:{...$node['Decide Next'].json, responseText:text, endCall:false, waListingsText: items.map((x,i)=>`${i+1}) ${x.title} \u2014 ${x.locationText} \u2014 ${(x.price||0).toLocaleString('tr-TR')} ${(x.currency||'TRY')}\\n${x.url||''}` ).join('\\n\\n')}}];"
      },
      "id": "format-voice-suggest",
      "name": "Format Voice Suggest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        -220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.whatsapp_send }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"to\":$json.from,\"text\":($json.waListingsText || \"\"),\"meta\":{\"runId\":$json.runId}}"
      },
      "id": "send-wa-links-(optional)",
      "name": "Send WA Links (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2940,
        -220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.channel }}",
              "rightValue": "call",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "voice_call_completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-call-completed",
      "name": "Is Call Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1180,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.calls_transcript }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"provider\":($json.metadata.call && $json.metadata.call.provider) || \"unknown\",\"providerCallId\":($json.metadata.call && ($json.metadata.call.provider_call_id || $json.metadata.call.providerCallId)) || \"\"}"
      },
      "id": "call-transcript",
      "name": "Call Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $env.OPENAI_API_KEY, \"Content-Type\":\"application/json\"} }}",
        "bodyParametersJson": "={\"model\":($env.OPENAI_MODEL || \"gpt-4o-mini\"),\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"Summarize this phone call in Turkish. Output JSON with keys: intent (string|null), summary (string), labelsJson (object), actionItemsJson (object). No markdown.\"},{\"role\":\"user\",\"content\":(($json.items||[]).map(x=>`${x.speaker}: ${x.text}`).join(\"\\n\"))}]}"
      },
      "id": "openai-summary",
      "name": "OpenAI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1620,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw=($input.first().json.body)||$input.first().json; let content=''; try{content=raw.choices?.[0]?.message?.content||'';}catch{} content=String(content||'').trim(); let obj=null; try{obj=JSON.parse(content);}catch{obj={intent:null,summary:content||'(no summary)',labelsJson:{},actionItemsJson:{}}} return [{json:{...$node['Normalize'].json, sum:obj, ok:true, responseText:'', endCall:false}}];"
      },
      "id": "parse-summary",
      "name": "Parse Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.svontai.endpoints.voice_call_summary }}",
        "authentication": "none",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{ {\"Authorization\":\"Bearer \" + $json.svontai.token} }}",
        "bodyParametersJson": "={\"tenantId\":$json.tenantId,\"provider\":($json.metadata.call && $json.metadata.call.provider) || \"unknown\",\"providerCallId\":($json.metadata.call && ($json.metadata.call.provider_call_id || $json.metadata.call.providerCallId)) || \"\",\"intent\":($json.sum.intent || null),\"summary\":($json.sum.summary || \"\"),\"labelsJson\":($json.sum.labelsJson || {}),\"actionItemsJson\":($json.sum.actionItemsJson || {}),\"createLeadNote\":true}"
      },
      "id": "persist-call-summary",
      "name": "Persist Call Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2060,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"responseText\":$json.responseText || \"\",\"endCall\":$json.endCall || false}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3160,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          {
            "node": "Is Call Intent?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Fail": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Call Intent?": {
      "main": [
        [
          {
            "node": "Lead Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Call Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Upsert": {
      "main": [
        [
          {
            "node": "Lead Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Get": {
      "main": [
        [
          {
            "node": "OpenAI Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extract": {
      "main": [
        [
          {
            "node": "Decide Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Next": {
      "main": [
        [
          {
            "node": "Lead Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Patch": {
      "main": [
        [
          {
            "node": "Is Suggest?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Suggest?": {
      "main": [
        [
          {
            "node": "Search Listings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Listings": {
      "main": [
        [
          {
            "node": "Format Voice Suggest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Voice Suggest": {
      "main": [
        [
          {
            "node": "Send WA Links (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA Links (Optional)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Call Completed?": {
      "main": [
        [
          {
            "node": "Call Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Transcript": {
      "main": [
        [
          {
            "node": "OpenAI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Summary": {
      "main": [
        [
          {
            "node": "Parse Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary": {
      "main": [
        [
          {
            "node": "Persist Call Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Call Summary": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "versionId": "re-voice-v1",
  "settings": {
    "executionOrder": "v1"
  }
}